[submodule "todoapi"]
	path = todoapi
	url = https://github.com/gihyodocker/todoapi
[submodule "todonginx"]
	path = todonginx
	url = https://github.com/gihyodocker/todonginx
  ignore = dirty
[submodule "todoweb"]
	path = todoweb
	url = https://github.com/gihyodocker/todoweb
[submodule "tododb"]
	path = tododb
	url = https://github.com/gihyodocker/tododb
